@import "tailwindcss";

:root {
  --font-freight-disp-pro: 'FreightDisp Pro', serif;
}

body {
  font-family: var(--font-freight-disp-pro), Georgia, 'Times New Roman', serif;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}
h1, h2, h3 {
  font-family: var(--font-freight-disp), serif;
}
p {
  font-family: var(--font-freight-sans), sans-serif;
}
a {
  font-family: var(--font-freight-sans), sans-serif;
}
